/* MAIN */
.sp-container {
  background: #f1f5f9;
  padding: 40px;
  min-height: 100vh;
}

/* CARD */
.sp-card {
  display: flex;
  gap: 50px;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.sp-card:hover {
  transform: translateY(-5px);
}

/* LEFT */
.sp-left {
  flex: 1;
  text-align: center;
}

.sp-image {
  width: 350px;
  height: 350px;
  object-fit: contain;
  border-radius: 12px;
  background: #f8fafc;
  padding: 20px;
  transition: 0.3s;
}

.sp-image:hover {
  transform: scale(1.05);
}

/* RIGHT */
.sp-right {
  flex: 1;
}

/* TITLE */
.sp-title {
  font-size: 30px;
  font-weight: 600;
}

/* BRAND */
.sp-brand {
  color: #64748b;
  margin: 10px 0;
}

.sp-brand span {
  color: #1e293b;
  font-weight: 500;
}

/* RATING */
.sp-rating {
  background: #22c55e;
  color: white;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* PRICE */
.sp-price-box {
  display: flex;
  gap: 15px;
  margin: 15px 0;
  align-items: center;
}

.sp-price {
  font-size: 30px;
  font-weight: bold;
  color: #16a34a;
}

.sp-mrp {
  text-decoration: line-through;
  color: #94a3b8;
}

.sp-discount {
  color: #dc2626;
  font-weight: bold;
}

/* DESCRIPTION */
.sp-description {
  margin: 20px 0;
  color: #334155;
}

/* INFO */
.sp-info-box {
  background: #f8fafc;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* STOCK */
.sp-stock {
  font-weight: bold;
  margin-bottom: 10px;
}

.sp-in {
  color: #16a34a;
}

.sp-out {
  color: #dc2626;
}

/* RETURN */
.sp-return {
  color: #0284c7;
  margin-bottom: 20px;
}

/* BUTTONS */
.sp-btn-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.sp-cart-btn {
  padding: 14px 25px;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.sp-cart-btn:hover {
  background: #1d4ed8;
}

.sp-buy-btn {
  padding: 14px 25px;
  background: #f59e0b;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.sp-buy-btn:hover {
  background: #d97706;
}

/* STATES */
.sp-loading,
.sp-error {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}
